 <div class="user-details">
  <a class="up" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
  
 <h2>About</h2>
</div>
  <div class="user">
    <div class="tech">
       
      <p>For many years I have studied and worked in the IT environment.
As it proceeded the scale of responsibility. 
I learned the sequence: test solutions, implement and document them.
I am looking for remote work with cyclical commuting.
Ready for relocation if necessary.
</p>
    </div>
    <!--
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>-->
</div>
