 <div class="user-details">
  <h2> My Expertise </h2>
</div>
  <div class="user">
    <div class="tech">
      <i class="devicon-python-plain colored"></i>
     <i class="devicon-mysql-plain-wordmark colored"></i>
     <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-debian-plain"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-git-original"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-google-plain colored"></i>
       <h2>About</h2>
      <p>For many years I have studied and worked in the IT environment.
As it proceeded the scale of responsibility. 
I learned the sequence: test solutions, implement and document them.
I'd like to work on software development.
I am looking for remote work with cyclical commuting.
Ready for relocation if necessary.
</p>
    </div>
    <!--
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>-->
</div>
