<div class="user-details">
  <h1> Expirience</h1>
  </div>
  <div class="user">
    <div class="tech">
      <i class="devicon-python-plain colored"></i>
     <i class="devicon-mysql-plain-wordmark colored"></i>
     <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-debian-plain"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-git-original"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-google-plain colored"></i>
   
    </div>
</div>

