<div class="user-details">
  <a class="up" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
  <h2> Expirience</h2>

  </div>
  <div class="user">


    <div class="tech">
    <h2>Code</h2> 
      <i class="devicon-python-plain colored"></i>   
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      
   
    </div>

    <div class="tech">
      <h2>Data</h2> 
    <i class="devicon-mysql-plain-wordmark colored"></i>
     <i class="devicon-postgresql-plain-wordmark colored"></i>

    </div>

    <div class="tech">
      <h2>Tools</h2> 
      <i class="devicon-vim-plain"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-google-plain colored"></i>
    </div>
</div>

