<nav class="top-nav">
  <a class="nav-item" href='/'>Home</a>
  | <a class="nav-item" href='https://github.com/keca13/'>GitHub</a>
  | <a class="nav-item" href='https://stackoverflow.com/users/14402262/keca13?tab=profile'>Stack overflow</a>
  | <a class="nav-item" href="https://www.facebook.com/jacek.wieteska.184">Facebook</a>
  | <a class="nav-item" href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-subprocessors-and-cookies">Cookies</a>
  |<a class="nav-item" href="/feed.xml">RSS</a>
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#"></a>{% endif %}
</nav>


