<nav class="top-nav">
	<a class="active" href="/"><i class="fa fa-fw fa-home"></i></a>
  | <a class="nav-item" href='https://github.com/keca13/' target="_blank"><i class=" fa fa-fw fa-github-square"></i></a>
  | <a class="nav-item" href='https://stackoverflow.com/users/14402262/keca13?tab=profile' target="_blank"><i class=" fa fa-fw fa-stack-overflow-square"></i></a>
  | <a class="nav-item" href="https://www.facebook.com/jacek.wieteska.184" target="_blank"><i class=" fa fa-fw fa-facebook-square"></i></a>
  | <a class="nav-item" href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-subprocessors-and-cookies" target="_blank">Cookies</a>
  |<a class="nav-item" href="/feed.xml" target="_blank">RSS</a>
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#"></a>{% endif %}
</nav>


