<nav class="top-nav">
	<a class="active" href="/"></i>home</a>
  | <a class="nav-item" href='https://github.com/keca13/' target="_blank">github</a>
  | <a class="nav-item" href='https://stackoverflow.com/users/14402262/keca13?tab=profile' target="_blank">stack-overflow</a>
  | <a class="nav-item" href="https://www.facebook.com/jacek.wieteska.184" target="_blank">facebook</a>
  | <a class="nav-item" href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-subprocessors-and-cookies" target="_blank">cookies</a>
  |<a class="nav-item" href="/feed.xml" target="_blank">rss</a>
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#"></a>{% endif %}
</nav>


