<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#footer data-scroll"><i class="icon fa fa-envelope" ></i></a>

        <a aria-label="My Github" target="_blank" href="https://github.com/esccode/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/jacek-wieteska-b66b511b9/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Stack Overflow" target="_blank" href="https://stackoverflow.com/cv/esccode"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
        
      </div>
      <div class="header-links">

        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#projects" data-scroll>Expirience</a>
      </div>

  
  </div>
  <!--<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>-->
</div>
