<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}

       <section id="contact">
      {% include contact.html %}
      </section>

        <section id="about">
        {% include about.html %}
      </section>

      <section id="projects">
        {% include devicons.html %}
      </section>

      
    
      <!--
      <section id="projects">
        {% include projects.html %}
      </section>

        {{ content }}-->
        <section id="footer">
      {% include footer.html %}
      </section>
  </body>
