<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>
<footer>
  <hr class="stylish"/>
  {% include footer.html %}
  <div>
    Powered by: <a href="https://github.com/">GitHub</a> | Designed by: <a href="https://github.com/abhn/Elementary">
    Abhishek Nagekar</a>
    <br/>
     &copy; {{ site.time | date: '%Y' }} <a>{{ site.name }}</a>
  </div>
</footer>
{% if site.javascript_enabled %}
  <script src="/assets/main.js"></script>
{% endif %}
</body>
</html>
